<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'navigation' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'side' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="produtos">Produtos</a>
      <a *ngIf="user == 2" mat-list-item routerLink="create-produtos">Cadastrar produtos</a>
      <a *ngIf="user == 2" mat-list-item routerLink="users">Usuários</a>
      <a *ngIf="user == 2" mat-list-item routerLink="create-user">Cadastrar usuário</a>
      <a mat-list-item routerLink="pedidos">Pedidos</a>
      <a mat-list-item (click)="sair()" routerLink="login">Sair</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="user != ''"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Trabalho NoSQL</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="padding: 15px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>