
<div class="example-container">
  <mat-form-field>
      <input #nome matInput placeholder="Nome" type="text" class="example-left-align">
    </mat-form-field>

    <mat-form-field>
      <input #endereco matInput placeholder="Endereço" type="text" class="example-left-align">
    </mat-form-field>

    <mat-form-field>
      <input #email matInput placeholder="Email" type="text" class="example-left-align">
    </mat-form-field>

<mat-form-field>
  <input #senha matInput placeholder="Senha" [type]="hide ? 'password' : 'text'">
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>

    <button (click)="cadastro(nome.value, endereco.value, email.value, senha.value)" mat-raised-button color="primary">Cadastrar usuário</button>

</div>
