
<div class="example-container">
  <mat-form-field>
      <input #nome matInput placeholder="Nome" type="text" class="example-left-align">
    </mat-form-field>

    <mat-form-field>
      <input #preco matInput placeholder="Preço" type="number" class="example-left-align">
    </mat-form-field>

    <mat-form-field>
      <input #descricao matInput placeholder="Descrição" type="text" class="example-left-align">
    </mat-form-field>

    <button (click)="cadastro(nome.value, preco.value, descricao.value)" mat-raised-button color="primary">Cadastrar produto</button>

</div>
